@media (max-width:700px) {
    header {
        flex-direction: column;
        border: solid 1px white !important;
        border-radius: 3% !important;
    }
    body {
        margin: 0;
        padding-right: 0px !important;
    }
    html {
        margin: 0;
        padding-right: 0px !important;
    }
    h2 {
        font-weight: 300;
        font-size: 1.5rem;
    }
    a {
        font-weight: 300;
        font-size: 0.5rem;
    }
}


/* @keyframes ldio-o7mfnugekkb {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-o7mfnugekkb div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #182731;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-o7mfnugekkb div {
    animation: ldio-o7mfnugekkb 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-wscxo1iiprd {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-o7mfnugekkb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  


}
.ldio-o7mfnugekkb div {
    box-sizing: content-box;
}
*/

.login {
    justify-content: center;
    text-align: center;
    height: 3rem;
    width: 3rem;
}

.inputBox span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #23242a;
}

header {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(45deg, red, blue, green);
    background-size: 400% 400%;
    animation: cambiar 5s ease-in-out infinite;
    position: fixed;
    top: 0px;
    border: 5px solid white;
    border-radius: 15%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #45f3ff;
    font-size: larger;
    font-weight: 900;
}

spann {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.box {
    position: relative;
    /* width: 380px; */
    width: 360px;
    /* height: 420px; */
    height: 370px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -60%;
    left: -50%;
    width: 380px;
    height: 450px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 470px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

form {
    position: absolute;
    inset: 2px;
    background: #28292d;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0;
    font-size: 0.80em;
    color: #8f8f8f;
    text-decoration: beige;
}

.links a:hover,
.links a:nth-child(2) {
    color: #45f3ff;
}

input[type="submit"] {
    border: solid white;
    padding: 11px 25px;
    background: #45f3ff;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

input[type="submit"]:active {
    opacity: 0.8;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
}

button {
    font-weight: 700;
    font-size: 1.3rem;
    width: 18rem;
    height: 2rem;
    border-radius: 10%;
    background: linear-gradient(45deg, blue, cyan, rgb(60, 255, 0), rgb(0, 225, 255));
    border: solid 3px #fff;
    background-size: 400% 400%;
    animation: cambiar 2s ease-in-out infinite;
    color: #111;
    border: solid white;
}

button:hover {
    border-radius: 10%;
    background: linear-gradient(45deg, blue, cyan, rgb(60, 255, 0), rgb(0, 225, 255));
    border: solid 3px #fff;
    background-size: 400% 400%;
    animation: cambiar 3s ease-in-out infinite;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.1s;
}

audio {
    width: 0rem;
    height: 0rem;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}